//theme
$colorThemePrimary: rgb(122, 36, 36);
$colorThemeSecondary: rgb(163, 43, 43);

//inputs
$colorInputFocus: rgb(88, 122, 184);
$colorInputValid: green;
$colorInputInvalid: red;

//buttons
$colorButtonPrimary: rgb(51, 90, 163);
$colorButtonSecondary: rgb(88, 122, 184);
