@import "../../../utils/variables";
.label {
  font-size: 25px;
}
.input {
  height: 25px;
  font-size: 20px;
  margin: 5px 0px 15px 0px;
  border: solid 1px black;
  outline: solid 2px $colorInputFocus;
  border-radius: 10px;
}

.textarea {
  resize: none;
  font-size: 20px;
  margin: 5px 0px 15px 0px;
  border: solid 1px black;
  outline: solid 2px $colorInputFocus;
  border-radius: 10px;
}

.submitButton {
  height: 30px;
  width: 150px;
  font-size: 20px;
  border: solid 2px $colorButtonPrimary;
  background-color: $colorButtonPrimary;
  color: white;
  border-radius: 10px;
  &:hover {
    background-color: $colorButtonSecondary;
  }
}

@keyframes shake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
